
.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-main-title {
    text-align: center;
    padding: 30px 0 ;
}
.p-sub-title {
    text-align: center;
    padding: 20px 0;
}
.p-author-label,.p-theme-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.p-author-label label,.p-theme-label label {
    padding: 8px 0;
    font-weight: bold;
}
.p-author-label textarea {
    resize: none;
    width: 75%;
    height: 250px;
}
.p-theme-label {
    display: flex;
    flex-direction: column;
}
.p-theme-label input {
    width: 150px;
    height: 150px;
    max-width: 50vw;
    max-height: 50vw;
    border: none;
    border-radius: 100px;
}

.p-container .submit {
    text-align: center;
}
.p-upload > div {
    width: 90%;
}
.p-upload img {
    width: 100%;
}
form-field-token {
    width: 400px;
    max-width: 80%;
}